{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "\u003cimg src=\"/logo.svg\" width=\"220\" height=\"auto\"\n    alt=\"Trader Make Money Logo\" /\u003e\n\n# Trader Make Money API Reference\n\nWelcome to the **Trader Make Money (TMM)** API. Our API allows you to programmatically access trade data, manage risk settings, and integrate your trading journal with external tools.\n\n---\n\n## 1. Access Points\n\nThe API is accessible via a primary endpoint and mirrors for redundancy.\n\n| Environment   | Base URL                              |\n| :------------ | :------------------------------------ |\n| **Main**      | `https://tradermake.money/api/v2`     |\n| **Mirror EU** | `https://tradermakemoney.com/api/v2`  |\n| **Mirror RU** | `https://tradersmakemoney.com/api/v2` |\n\n---\n\n## 2. Authentication\n\nThe TMM API supports two authentication methods. If both are provided, the **JWT Token** takes precedence. If the provided JWT is invalid, the request will return a `401 Unauthorized` error, even if a valid API Key is present.\n\n### A. API Key\n\nGenerated via the `PUT /api-user` endpoint.\n\n- **Header:** `API-KEY: \u003cyour_api_key\u003e`\n\n**Example Request:**\n\n```bash\ncurl https://tradermake.money/api/v2/trades \\\\\n   -H \"API-KEY: your_api_key_here\" \\\\\n   -H \"Content-Type: application/json\"\n```\n\n### B. JWT Token\n\nObtained via `POST /auth/login`. Recommended for interactive applications.\n\n- **Header:** `Authorization: Bearer \u003cyour_jwt_token\u003e`\n\n**Example Request:**\n\n```bash\ncurl https://tradermake.money/api/v2/trades \\\\\n   -H \"Authorization: Bearer your_jwt_token_here\" \\\\\n   -H \"Content-Type: application/json\"\n```\n\n**Automatic Token Refresh:**\nA new JWT token is returned in the response headers of every successful request. Update your stored token with the latest one to maintain an active session without manual refreshing.\n\n---\n\n## 3. Rate Limiting\n\nWe enforce rate limits to ensure platform stability. Headers include:\n\n| Header                  | Description                                     |\n| :---------------------- | :---------------------------------------------- |\n| `x-ratelimit-limit`     | Max requests allowed in the current window.     |\n| `x-ratelimit-remaining` | Requests remaining in the current window.       |\n| `x-ratelimit-reset`     | Unix timestamp (seconds) when the limit resets. |\n\n**Important:** Exceeding limits results in a `429 Too Many Requests` error. Persistent violations may lead to account or IP restrictions.\n\n---\n\n## OAuth2 Integration for Third-Party Services\n\nWe provide OAuth2 support for partners and third-party developers who want to integrate TraderMakeMoney (TMM) directly into their platforms. This flow allows your users to securely link their TMM accounts to your service without manually copy-pasting API keys.\n\n### Prerequisites\n\n- **Active Payment Plan:** OAuth2 connection creation is exclusively available to users with a paid plan.\n- **Free Account Restriction:** Requests initiated by users on a free plan will fail.\n  - **Status Code:** `402 Payment Required`\n  - **Response Body:** `{\"error\": \"free account can't use oauth\"}`\n\n### 1. Registration\n\nTo begin integration, please contact us at **info@tradermake.money** to obtain your `client_id` and a `private_key` for your service.\n\n### 2. Authorization Flow\n\nYou must implement a \"Connect to TMM\" button in your interface. This button should redirect users to the following authorization URL:\n\n```text\nhttps://tradermake.money/app2/account/auth2/authorize/{client_id}?redirect_uri={your_redirect_uri}\u0026response_type=code\u0026client_id={client_id}\n```\n\n### 3. Exchanging Code for a Permanent API Key\n\nOnce the user authorizes the connection, TMM will redirect them back to your `redirect_uri` with a temporary `code`. You have **1 minute** to exchange this code for a permanent User API Key using the following endpoint:\n\n**POST** `/oauth2/token`\n\n**Headers:**\n\n- `API-KEY`: Your service's `private_key` (issued by TMM)\n- `Content-Type`: `application/json`\n\n**Request Body:**\n\n```json\n{\n  \"code\": \"temporary_code_from_redirect\",\n  \"client_id\": \"your_client_id\"\n}\n```\n\n### 4. Usage\n\nThe response will contain a permanent **User API Key**. Once obtained, store this key securely. All subsequent requests to the TMM API on behalf of this user should use the standard **API-KEY** authentication header as described in the **Authentication** section.\n\n---\n\n## 4. Recent Changelog\n\n### 2025 Updates\n\n- **Oct 29:** Added `PUT /api-key/batch` for bulk management.\n- **Sep 01:** Updated `GET /analyzer/` with `skipData` and `skipBalance` flags.\n- **Jul 24:** Added `income_percent_by_symbol` widget.\n- **Jul 18:** **API Key Migration**: Added `POST /api-key/{id}/migrate-to-new-id`. Reassigns all related data (trades, orders, etc.). (Admins only).\n- **Apr 22:** Added `websocket_status[]` multi-value filter for API keys (Enum `ApiKeyWebsocketStatus`).\n- **Apr 11:** Enhanced `/top` (Teams) endpoint. Now returns detailed user statistics (`pnl`, `percent`, `qty`) for today, yesterday, 7d, 14d, 30d, and custom periods.\n- **Apr 10:** Added `yesterday` and `14days` aggregation intervals for Teams.\n- **Apr 08:** `GET /trades/public-group/{code}` updated for cumulative income and win rate widgets.\n- **Apr 03:** **Risk Management Expansion**: Added support for fixed USD loss limits (`per_trade_usd`, `per_day_usd`). Updated Telegram/Discord notifications.\n- **Apr 01:** Updated Teams with custom 'from' and 'to' date support.\n- **Mar 25:** New Exchange Support: **Tiger X OKX** (Spot \u0026 Futures, IDs 44 \u0026 45).\n- **Mar 19:** New Exchange Support: **Tiger X Binance** (Spot \u0026 Futures, IDs 42 \u0026 43).\n- **Mar 18:** Fixed widget limits for free accounts on Public Profiles.\n- **Mar 03:** **OAuth2 \u0026 SSE**: Added OAuth2 support and SSE stream (`/user/oauth2`, `/oauth2/token`, `/oauth2/sse/{key}`).\n- **Feb 19:** New Exchange Support: **Bitget Spot** (ID 41).\n- **Feb 06:** Added `start_of_week` user setting (Monday/Sunday) for analytics.\n\n---\n\n## 5. Technical Remarks\n\n1. **Timeframes:** All timestamps are in **milliseconds**.\n2. **Performance:** Only the first 10 trades in a list include order data by default. Use `GET /trades/{trade_id}/orders` for the full list.\n",
        "title": "TMM API",
        "termsOfService": "https://tradermake.money/terms-and-conditions/",
        "contact": {
            "name": "API Support",
            "email": "support@tradermake.money"
        },
        "version": "2.0"
    },
    "host": "tradermake.money",
    "basePath": "/api/v2",
    "paths": {
        "/analyzer/": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Provides a detailed trading summary for a specific week, day, or month. Balance history is included for premium members. Use 'skipData' and 'skipBalance' parameters to exclude trade data or balance history for a faster response.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Get Detailed Trading Analysis by Time Period",
                "parameters": [
                    {
                        "type": "boolean",
                        "description": "Pass true to skip trade data",
                        "name": "skipData",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Pass true to skip balance history",
                        "name": "skipBalance",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter: Type: week, day, month",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "api_key_id",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:"
                        ],
                        "type": "string",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with api key ids specified",
                        "name": "api_key_id_params",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,10000",
                        "name": "avgTrades15m6h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,40000",
                        "name": "avgTrades1h24h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,1000",
                        "description": "Moving averages of trades",
                        "name": "avgTrades1m30m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,20000",
                        "name": "avgTrades30m12h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,5000",
                        "name": "avgTrades5m2h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,1000000",
                        "name": "avgVolume15m6h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,5000000",
                        "name": "avgVolume1h24h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,100000",
                        "description": "Moving averages of volume",
                        "name": "avgVolume1m30m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,2000000",
                        "name": "avgVolume30m12h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,500000",
                        "name": "avgVolume5m2h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-0.8,0.8",
                        "name": "btcCorr1m50",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-0.8,0.8",
                        "description": "BTC correlation [-1,1]",
                        "name": "btcCorr5m20",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "description": "Trades by default have no category.\nID 1 is system category for archive trades. Excluded by default.",
                        "name": "category",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:"
                        ],
                        "type": "string",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with category ids specified",
                        "name": "category_params",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "2019-01-01,2019-01-02",
                        "name": "closeBetween",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "example": [
                            2
                        ],
                        "description": "Days of week 1=Sunday, 2=Monday, 3=Tuesday, 4=Wednesday, 5=Thursday, 6=Friday, 7=Saturday",
                        "name": "daysOfWeek",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Duration specified in milliseconds\nExample: 1000,10000 - trades with duration between 1 and 10 seconds",
                        "name": "durationBetween",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "today",
                            "yesterday",
                            "past1w",
                            "1w",
                            "1m",
                            "7d",
                            "30d",
                            "90d"
                        ],
                        "type": "string",
                        "example": "today",
                        "name": "durationType",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "exit_tags",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:",
                            "all:",
                            "not:all:",
                            "only:"
                        ],
                        "type": "string",
                        "example": "not:all:",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with tags specified\n\"all:\" - all provided tags must be included/excluded\n\"only:\" - trades with tags specified only",
                        "name": "exit_tags_params",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "conclusion:empty",
                            "conclusion:not-empty",
                            "desc:empty",
                            "desc:not-empty",
                            "mentor_note:not-empty",
                            "mentor_note:empty"
                        ],
                        "type": "string",
                        "example": "conclusion:empty",
                        "name": "extraInfo",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-0.01,0.01",
                        "description": "Funding rate, e.g. \"-0.01,0.01\"",
                        "name": "fundingRate",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "minute",
                            "hour",
                            "month",
                            "date",
                            "week"
                        ],
                        "type": "string",
                        "description": "Used in summary widget settings",
                        "name": "groupBy",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Headers are required only for CSV export method",
                        "name": "headers",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "hours_of_day",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with hours specified",
                        "name": "hours_of_day_params",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "example": 1,
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "example": [
                            1
                        ],
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "leverageBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-0.5,-1.5",
                        "name": "maeBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "mfeBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "multiplier",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,2",
                        "name": "natr1m30",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,2",
                        "description": "NATR",
                        "name": "natr5m14",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "2019-01-01,2019-01-02",
                        "name": "openBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "percentBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange12h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange15m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange1h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "description": "Price range (normalized), e.g. \"-2,2\"",
                        "name": "priceRange1m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange24h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange2h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange30m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange4h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange5m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-2,2",
                        "name": "priceRange6h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "profitBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "profitDepositBetween",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "LONG",
                            "SHORT"
                        ],
                        "type": "string",
                        "name": "side",
                        "in": "query"
                    },
                    {
                        "enum": [
                            0,
                            1,
                            2
                        ],
                        "type": "integer",
                        "description": "Select only open or only closed trades.",
                        "name": "state",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "example": [
                            "BTCUSDT"
                        ],
                        "name": "symbol",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:"
                        ],
                        "type": "string",
                        "example": "not:",
                        "name": "symbol_params",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "tags",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:",
                            "all:",
                            "not:all:",
                            "only:"
                        ],
                        "type": "string",
                        "example": "not:all:",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with tags specified\n\"all:\" - all provided tags must be included/excluded\n\"only:\" - trades with tags specified only",
                        "name": "tags_params",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Default value comes from user profile settings. By default is \"open_time\"",
                        "name": "trade_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,150000",
                        "name": "trades12h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,10000",
                        "name": "trades15m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,40000",
                        "name": "trades1h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,1000",
                        "description": "Trades count per window",
                        "name": "trades1m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,200000",
                        "name": "trades24h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,60000",
                        "name": "trades2h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,20000",
                        "name": "trades30m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,80000",
                        "name": "trades4h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,5000",
                        "name": "trades5m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,100000",
                        "name": "trades6h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "tradesSpike15m6h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "tradesSpike1h24h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "description": "Trades spikes",
                        "name": "tradesSpike1m30m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "tradesSpike30m12h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "tradesSpike5m2h",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "example": 1,
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,20000000",
                        "name": "volume12h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,1000000",
                        "name": "volume15m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,5000000",
                        "name": "volume1h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,100000",
                        "description": "Volumes (USD or native units—match your backend), counts per window",
                        "name": "volume1m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,30000000",
                        "name": "volume24h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,8000000",
                        "name": "volume2h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,2000000",
                        "name": "volume30m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,12000000",
                        "name": "volume4h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,500000",
                        "name": "volume5m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0,16000000",
                        "name": "volume6h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "description": "Turnover in USD - including all buy and sell orders value",
                        "name": "volumeBetween",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "name": "volumeFrom",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "volumeSpike15m6h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "volumeSpike1h24h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "description": "Volume spikes (ratio/z-score as you define), keep 1h24h included",
                        "name": "volumeSpike1m30m",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "volumeSpike30m12h",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-3,3",
                        "name": "volumeSpike5m2h",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "name": "volumeTo",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "By default archive trades are not included. If you want to include them,\nset this to true. Or set category id to 1 (Archive ID).",
                        "name": "with_archive",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.AnalyzerWeekResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/notes": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Fetches a list of all analyzer notes created by the user, with optional filtering by date range and note type.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Retrieve Analyzer Notes",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Filter: Type: 2 - day, 3 - week, 4 - month",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "2019-01-01,2019-01-31",
                        "description": "Filter: filtering by note date",
                        "name": "dateBetween",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.AnalyzerNotesResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Creates a new analyzer note or updates an existing one. If an ID is provided in the payload, the corresponding note will be updated; otherwise, a new note is created.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Create or Update an Analyzer Note",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.AnalyzerNoteForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.ValidationErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/week-list": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Retrieves a trading summary aggregated by week or day. Balance history is only included for premium members.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Retrieve Trading Summary by Time Period",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter: Api key id",
                        "name": "api_key_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccess-array_services_TradeCountByWeek"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/{symbol}/chart-data": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Retrieves user-created drawings for a specific chart symbol.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Get Chart Drawings",
                "parameters": [
                    {
                        "type": "string",
                        "example": "BTCUSDT",
                        "description": "Symbol",
                        "name": "symbol",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccess-string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.ValidationErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/{ticker}/loadCandlesData": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Retrieves historical Kline data (candlesticks) for a specified ticker and interval. The response includes any user-created drawings on the chart.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Get Kline Data for a Ticker",
                "deprecated": true,
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.SymbolChartForm"
                        }
                    },
                    {
                        "type": "string",
                        "example": "BTCUSDT",
                        "description": "Ticker",
                        "name": "ticker",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.TradeChartResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.ValidationErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key": {
            "put": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Adds a new API key to the user's account.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "Add New API Key",
                "parameters": [
                    {
                        "description": "Api key form payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.ApiKeyCreateForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccess-services_ApiKey"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Retrieves a paginated list of the current user's API keys.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "List API Keys with Pagination",
                "parameters": [
                    {
                        "enum": [
                            1,
                            2,
                            3,
                            4,
                            5,
                            6,
                            7,
                            41,
                            8,
                            9,
                            10,
                            40,
                            46,
                            11,
                            21,
                            23,
                            24,
                            25,
                            12,
                            22,
                            13,
                            14,
                            15,
                            32,
                            33,
                            42,
                            43,
                            44,
                            45,
                            50
                        ],
                        "type": "integer",
                        "x-enum-comments": {
                            "EXCHANGE_BINANCE_FUTURES": "suppport fast repair",
                            "EXCHANGE_BYBIT_INVERSE": "suppport fast repair",
                            "EXCHANGE_BYBIT_LINEAR": "suppport fast repair",
                            "EXCHANGE_BYBIT_SPOT": "suppport fast repair",
                            "EXCHANGE_GATEIO_FUTURES": "suppport fast repair",
                            "EXCHANGE_GATEIO_SPOT": "suppport fast repair",
                            "EXCHANGE_OKX_PERP_SWAPS": "suppport fast repair",
                            "EXCHANGE_OKX_SPOT": "suppport fast repair",
                            "EXCHANGE_TIGERX_OKX_FUTURES": "suppport fast repair",
                            "EXCHANGE_TIGERX_OKX_SPOT": "suppport fast repair",
                            "EXCHANGE_TIGER_BINANCE_FUTURES": "suppport fast repair",
                            "EXCHANGE_TIGER_BINANCE_SPOT": "suppport fast repair"
                        },
                        "x-enum-descriptions": [
                            "suppport fast repair",
                            "suppport fast repair",
                            "",
                            "",
                            "suppport fast repair",
                            "suppport fast repair",
                            "",
                            "",
                            "suppport fast repair",
                            "suppport fast repair",
                            "",
                            "suppport fast repair",
                            "suppport fast repair",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "suppport fast repair",
                            "suppport fast repair",
                            "suppport fast repair",
                            "suppport fast repair",
                            ""
                        ],
                        "x-enum-varnames": [
                            "EXCHANGE_BINANCE_FUTURES",
                            "EXCHANGE_BYBIT_LINEAR",
                            "EXCHANGE_FTX",
                            "EXCHANGE_BINANCE_SPOT",
                            "EXCHANGE_BYBIT_INVERSE",
                            "EXCHANGE_BYBIT_SPOT",
                            "EXCHANGE_BITGET_FUTURES",
                            "EXCHANGE_BITGET_SPOT",
                            "EXCHANGE_OKX_PERP_SWAPS",
                            "EXCHANGE_OKX_SPOT",
                            "EXCHANGE_BINGX_FUTURES",
                            "EXCHANGE_GATEIO_SPOT",
                            "EXCHANGE_GATEIO_FUTURES",
                            "EXCHANGE_WLC_FUTURES",
                            "EXCHANGE_WLC_SPOT",
                            "EXCHANGE_WLC_BYBIT_SPOT",
                            "EXCHANGE_WLC_BYBIT_LINEAR",
                            "EXCHANGE_WLC_BYBIT_INVERSE",
                            "EXCHANGE_TIGER_FUTURES",
                            "EXCHANGE_TIGER_SPOT",
                            "EXCHANGE_TIGER_BYBIT_SPOT",
                            "EXCHANGE_TIGER_BYBIT_LINEAR",
                            "EXCHANGE_TIGER_BYBIT_INVERSE",
                            "EXCHANGE_TIGER_OKX_FUTURES",
                            "EXCHANGE_TIGER_OKX_SPOT",
                            "EXCHANGE_TIGER_BINANCE_FUTURES",
                            "EXCHANGE_TIGER_BINANCE_SPOT",
                            "EXCHANGE_TIGERX_OKX_FUTURES",
                            "EXCHANGE_TIGERX_OKX_SPOT",
                            "EXCHANGE_HYPERLIQUID_FUTURES"
                        ],
                        "name": "exchange_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "name": "from_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "name": "frozen",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "name": "not_frozen",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "enum": [
                                0,
                                1,
                                2,
                                3,
                                4
                            ],
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "websocket_status",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "example": 1,
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "name": "itemsPerPage",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "sortBy",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "name": "sortDesc",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.ApiKeysListPagination"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/batch": {
            "put": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Adds multiple API keys in a single batch request.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "Add API Keys in Batch",
                "parameters": [
                    {
                        "description": "Api key form payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.BatchApiKeyCreateForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessNoData"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/list/{user_id}": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Retrieves a list of all API keys belonging to a specific user.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "List User's API Keys",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "user id",
                        "name": "user_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccess-array_services_ApiKey"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Updates an API key. If the public or secret key is changed, the connection to the exchange will be reloaded. Changing the exchange_id is not supported.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "Update API Key",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Password change payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.ApiKeyUpdateForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Permanently deletes an API key and all associated trades and records.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "Delete API Key",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
[...]
