{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "# Api for Trader Make Money service\n\nApi supports 2 authentication method:\n\n- JWT token (use `POST /auth/login` to obtain token)\n\n- ApiKey (generated by user using `PUT /api-user`)\n\n_If provided both JWT will be first and if JWT token not valid your will get `401 Unauthorized Error`_\n\n#### How to use generated api key\n\nYou can use generated api key as header `API-KEY: your_api_key`\n\nCurl example:\n\n```bash\ncurl https://tradermake.money/api/v2/trades \\\n   -H \"API-KEY: *api key*\" \\\n   -H \"Content-Type: application/json\"\n```\n\n#### How to use JWT token\n\nYou can use JWT token as header `Authorization: Bearer *your api key*`\n\nCurl example:\n\n```bash\ncurl https://tradermake.money/api/v2/trades \\\n   -H \"Authorization: Bearer *JWT token*\" \\\n   -H \"Content-Type: application/json\"\n```\n\nYou will get new token in each response in headers. You can use it for next requests.\nYou don't need to refresh token manually - it will be refreshed automatically on each request.\n\n## Access points\n\nMain: _https://tradermake.money/api/v2_\n\nMirror: _https://tradermakemoney.com/api/v2_\n\n## Rate limits\n\nAll endpoints send `x-rate-limit` headers. Please respect it or you will get error: `429 too many requests`.\n\n- `x-ratelimit-limit` - maximum requests count for this endpoint for period of time\n\n- `x-ratelimit-remaining` - Requests left\n\n- `x-ratelimit-reset` - Timestamp (sec) when limit will reset to `x-ratelimit-limit`\n\n**Rates are different for different endpoints**. Violating of rules constantly will lead to account block and/or IP ban.\n\n## Changelog\n\n- 25/04/2024\n\n  - `TradeSummary` added new field:\n    - `MinLeverage`\n    - `MaxLeverage`\n    - `AvgCommission`\n\n- 07/04/2024\n\n  - `GET SSE` returns stream\n  - `POST /sse/connect` and `POST /sse/disconnect` deprecated\n\n- 09/02/2023\n\n  - Added `POST /trades/{id}/chart-data` endpoint\n  - Added `POST /analyzer/{ticker}/chart-data` endpoint\n  - `/loadCandlesData` endpoints deprecated. Use `/chart-data` instead\n\n- 08/12/2022\n  - Added `GET /board/public/{code}/load` endpoint\n  - Added `POST /board/{id}/short-url` endpoint\n\n## Remarks\n\n1. All unix timestamps are in milliseconds if not specified otherwise\n",
        "title": "TMM API",
        "termsOfService": "https://tradermake.money/terms-and-conditions/",
        "contact": {
            "name": "API Support",
            "email": "support@tradermake.money"
        },
        "version": "2.0"
    },
    "host": "tradermake.money",
    "basePath": "/api/v2",
    "paths": {
        "/analyzer/": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Trading summary by week or day. Include balance history only for premium membership",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Trading summary by week or day",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter: Type: week, day, month",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "api_key_id",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:"
                        ],
                        "type": "string",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with api key ids specified",
                        "name": "api_key_id_params",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "description": "Trades by default have no category.\nID 1 is system category for archive trades. Excluded by default.",
                        "name": "category",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:"
                        ],
                        "type": "string",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with category ids specified",
                        "name": "category_params",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "2019-01-01,2019-01-02",
                        "name": "closeBetween",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "example": [
                            2
                        ],
                        "description": "Days of week 1=Sunday, 2=Monday, 3=Tuesday, 4=Wednesday, 5=Thursday, 6=Friday, 7=Saturday",
                        "name": "daysOfWeek",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Duration specified in milliseconds\nExample: 1000,10000 - trades with duration between 1 and 10 seconds",
                        "name": "durationBetween",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "today",
                            "yesterday",
                            "past1w",
                            "1w",
                            "1m",
                            "7d",
                            "30d",
                            "90d"
                        ],
                        "type": "string",
                        "example": "today",
                        "name": "durationType",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "exit_tags",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:",
                            "all:",
                            "not:all:",
                            "only:"
                        ],
                        "type": "string",
                        "example": "not:all:",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with tags specified\n\"all:\" - all provided tags must be included/excluded\n\"only:\" - trades with tags specified only",
                        "name": "exit_tags_params",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "conclusion:empty",
                            "conclusion:not-empty",
                            "desc:empty",
                            "desc:not-empty",
                            "mentor_note:not-empty",
                            "mentor_note:empty"
                        ],
                        "type": "string",
                        "example": "conclusion:empty",
                        "name": "extraInfo",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "minute",
                            "hour",
                            "month",
                            "date",
                            "week"
                        ],
                        "type": "string",
                        "description": "Used in summary widget settings",
                        "name": "groupBy",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "description": "Headers are required only for CSV export method",
                        "name": "headers",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "hours_of_day",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with hours specified",
                        "name": "hours_of_day_params",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "example": 1,
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "example": [
                            1
                        ],
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "leverageBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "-0.5,-1.5",
                        "name": "maeBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "mfeBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "multiplier",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "2019-01-01,2019-01-02",
                        "name": "openBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "percentBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "profitBetween",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "name": "profitDepositBetween",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "LONG",
                            "SHORT"
                        ],
                        "type": "string",
                        "name": "side",
                        "in": "query"
                    },
                    {
                        "enum": [
                            0,
                            1,
                            2
                        ],
                        "type": "integer",
                        "description": "Select only open or only closed trades.",
                        "name": "state",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "example": [
                            "BTCUSDT"
                        ],
                        "name": "symbol",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:"
                        ],
                        "type": "string",
                        "example": "not:",
                        "name": "symbol_params",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "name": "tags",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "not:",
                            "all:",
                            "not:all:",
                            "only:"
                        ],
                        "type": "string",
                        "example": "not:all:",
                        "description": "string based params separated by \":\"\n\"not:\" - exclude trades with tags specified\n\"all:\" - all provided tags must be included/excluded\n\"only:\" - trades with tags specified only",
                        "name": "tags_params",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Default value comes from user profile settings. By default is \"open_time\"",
                        "name": "trade_time",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "example": 1,
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "0.5,1.5",
                        "description": "Turnover in USD - including all buy and sell orders value",
                        "name": "volumeBetween",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "name": "volumeFrom",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "name": "volumeTo",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "By default archive trades are not included. If you want to include them,\nset this to true. Or set category id to 1 (Archive ID).",
                        "name": "with_archive",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.AnalyzerWeekResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/notes": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Get list of all analyzer notes added by user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Get analyzer notes",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Filter: Type: 2 - day, 3 - week, 4 - month",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "2019-01-01,2019-01-31",
                        "description": "Filter: filtering by note date",
                        "name": "dateBetween",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.AnalyzerNotesResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Update or create analyzer note. If id provided it will update existing note otherwise it will create new one",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Update or create",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.AnalyzerNoteForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.ValidationErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/week-list": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Trading summary by week or day. Include balance history only for premium membership",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "Trading summary by week or day",
                "parameters": [
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "description": "Filter: Api key id",
                        "name": "api_key_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.AnalyzerWeekListResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/{ticker}/chart-data": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "get user drawings on the chart",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "get data for chart",
                "parameters": [
                    {
                        "type": "string",
                        "example": "BTCUSDT",
                        "description": "Ticker",
                        "name": "ticker",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.TradeChartDrawingsResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.ValidationErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/analyzer/{ticker}/loadCandlesData": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Get klines for chart with interval selected. Will include user drawings on the chart",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "analyzer"
                ],
                "summary": "get klines for chart",
                "deprecated": true,
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.SymbolChartForm"
                        }
                    },
                    {
                        "type": "string",
                        "example": "BTCUSDT",
                        "description": "Ticker",
                        "name": "ticker",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.TradeChartResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/services.ValidationErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key": {
            "put": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Add new api key",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "add api key",
                "parameters": [
                    {
                        "description": "Api key form payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.ApiKeyCreateForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.APiKeyCreateResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "List API keys with pagination",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "List API keys",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort by field",
                        "name": "sortBy",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Descending order",
                        "name": "sortDesc",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Items per page",
                        "name": "itemsPerPage",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.ApiKeysListPagination"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/list/{user_id}": {
            "get": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "List API keys belongs to user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "List API keys belongs to user",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "user id",
                        "name": "user_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiKeysList"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "version": {
                                "type": "integer",
                                "description": "1654898909"
                            },
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Update api key. If key public or key secret changed will reload connection to the exchange\nChanging exchange_id do not supported",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "update api key",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Password change payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.ApiKeyUpdateForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Deleting api key will delete all trades and records associated with the api key",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "delete api key",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}/balance-update": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "update api key balance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "update api key balance",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}/freeze": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Freeze api key. If api key is frozen, then it will be disabled",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "Freeze api key",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}/funding-update": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "update api key funding",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "update api key funding",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}/name": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Simple endpoint to update api key name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "change name",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Name update payload",
                        "name": "payload",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/dto.ApiKeyUpdateNameForm"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}/repair": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Drop and restore api key connection to the exchange",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "connection to exchange repair",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiWarningResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "429": {
                        "description": "Limit exceeded",
                        "schema": {
                            "type": "string"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiErrorResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    }
                }
            }
        },
        "/api-key/{id}/toggle": {
            "post": {
                "security": [
                    {
                        "ApiKey": [],
                        "JWT": []
                    }
                ],
                "description": "Toggle connection status. If connection is active, then it will be disabled. If connection is disabled, then it will be enabled.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "api-key"
                ],
                "summary": "Toggle connection status",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Api key id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.ApiSuccessResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
                                "type": "integer",
                                "description": "20"
                            },
                            "x-ratelimit-remaining": {
                                "type": "integer",
                                "description": "19"
                            },
                            "x-ratelimit-reset": {
                                "type": "integer",
                                "description": "1654898909"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/controllers.UnauthorizedResponse"
                        },
                        "headers": {
                            "x-ratelimit-limit": {
[...]
